body {
    background:brown;
}

#page-header{
    text-align: center;
}

#add-div{
    text-align: center;
}

#add-form-div{
    text-align: center;
}

/* not convinced this did anything */
#pies-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pies {
    width:80%;
    margin:auto;
}

.pie {
    padding:10px;
    margin:10px;
    background:orange;
    border:3px solid white;
}

#pie-form {
    width:40%;
    background:yellow;
    border:3px solid white;
    padding:10px;
    margin:10px auto;
}

.hidden{
    display: none;
    /* visibility: hidden; */
}
