*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: pink;
}

h1 {
    text-align: center;
}

.container {
    display:flex;
    justify-content: space-around;
    text-align: justify;
    align-items: center; /*vertical alignment* <-- NOT WORKING?? */
    height: 600px; /*using instead of vertical alignment*/
}

.add-pie{
    background: blueviolet;
    padding: 20px; /*rounds out the corners */
    border-radius: 10px;  /*rounds out the corners */
    width: 400px;
}

button {
    display: block;
    background-color: grey;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}